<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-back-button></ion-back-button>
      <ion-title>Horario</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Grupo: {{grupo}}</ion-label>
<ion-grid>
  <ion-row class="encabezado">
    <ion-col size="2" class="ion-text-center">
      HORAS
    </ion-col>
    <ion-col *ngFor="let dia of getDias()" size="2" class="ion-text-center">
    {{dia.nombre}}
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let hora of getHoras();let i = index">
      <ion-col size="2" class="ion-text-center horas">
        {{hora.nombre}}
        <br/>
        {{getSiguienteHora(hora.nombre)}}
      </ion-col>
      <ion-col *ngFor="let asig of getAsignaturas(i)" size="2" class="ion-text-center asignaturas" (click)="getCompleto(asig)">
        {{asig.nombre}}
      </ion-col>
      <ion-col size="12" class="ion-text-center" *ngIf="i==posicionRecreo-1" class="ion-text-center recreo">
        RECREO
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
