ion-col{
    border: 2px black solid;
}
.encabezado,.horas,.recreo{
    background-color: green;
    color: white;
    font-weight: 600;
}
.asignaturas{
    background-color: white;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}